
<div class="sixteen columns sampler">
    <img class="sampleit" src="<%= @song.artwork_url %>" alt="">
</div>
<div class="sixteen columns sampler">
    <audio controls="controls" src="<%= @song.preview_link %>"></audio>
</div>
